[alias]
	;alias = config --global --get-regexp 'alias\\..*' ; List all defined aliases. 
	; Note: If you name the shell command "git-aliasname", there's no need
	; to define an alias here; Git will automatically pick it up. The
	; downside is that you cannot pass arguments to it: "!git-aliasname
	; arg1" will NOT pass arg1 to the script! 
	;alias = !git-alias
	amend = commit --amend --reedit-message=HEAD	; Amend to last commit. 
	last  = cat-file commit HEAD	; Show last commit info. 
	changes = diff --name-status -r ; Subversion-like 'svn status' reporting.
	b = branch
	ci = commit -a ; Check in all changes. 
	cm = checkout master
	co = checkout
	file-blame = !git ls-files | xargs -n1 -i{} git log -1 --pretty=format:\"%h %an (%ar) {}\" -- {} ; Show author name and last date for each file. 
	st = status

	root = !eval cd "$(pwd)/$(git rev-parse --show-cdup)" && pwd ; Show root dir of this Git working copy. 
	sh = !git-sh	; Enter a bunch of git commands interactively. 
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git ; Fire up a git daemon for the repo you are currently in. 
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -" ; Look up person by name or email address. 
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short	; Print info about hash or commit name. 

	d = diff    ; ... unstaged changes in working copy. 
	dh = diff HEAD ; ... both staged or unstaged changes since last commit. 
	di = diff --cached ; ... staged changes in the index about to be committed. 

	findchange = !git-pickaxe --date=relative -p ; Pickaxe: Show log and commits where text or /regexp/ was changed. 
	findlogs = !git-pickaxe ; Pickaxe: Show log where text or /regexp/ was changed. 
	findlg = !git-pickaxe --abbrev-commit --date=relative --decorate --pretty=oneline ; Pickaxe: Show short log where text or /regexp/ was changed. 
	lc = whatchanged -p ; Logs together with diff between commits. 
	lg = log --abbrev-commit --date=relative --decorate --graph --pretty=oneline; Topology graph of branches and tags. 
	;lg = log --abbrev-commit --date=relative --decorate --graph --pretty=format:'%Ccyan%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lt = !git-logtoday ; Show log of today's (override with --since=...) changes formatted for including in pull request or email. 
	logfetched = log ORIG_HEAD.. --stat --no-merges	; List all new commits after you fetched. 

	; lsprivate = clean --dry-run ; Show all non-ignored files not under version control. 
	cleanall = clean -d -x	; Remove all untracked files and directories, restoring a pristine working copy. 
	lsprivate = !git-lsprivate ; Show all non-ignored files not under version control. 
	rmprivate = !git-rmprivate ; Remove all non-ignored files not under version control. 

	unstage = reset HEAD --	; Undo "git add <file>"; removes the file from the index, so that it isn't committed. (Alternatively, you can commit a few files via "git commit <file>" directly, bypassing the index.) 
	upush = push origin	; Publish <branch> / master to my github clone to get them pulled into upstream. 
	ufetch = fetch upstream	; Get upstream changes. 
	umerge = merge upstream/master	; Merge upstream changes with my local repo. 
[clean]
	requireForce = false
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = auto ; Requires git 1.6. 
[color "branch"]
	current = normal reverse
	local = normal
	remote = normal dim
	plain = normal ul
[color "diff"]
	plain = normal
	meta = cyan
	frag = blue bold
	old = red
	new = green
	commit = cyan
	; whitespace =
[color "grep"]
	external = --color=always
[color "interactive"]
	prompt = normal reverse
	header = normal bold
	help = normal
	; error = 
[color "status"]
	header = green
	updated = normal
	changed = normal ul
	untracked = normal bold
[core]
	editor = vim

	; Do not highlight trailing whitespace; I use this in comments. 
	whitespace=space-before-tab

	; Global user-specific ignored file list. (Unfortunately must be full
	; path without environment variables.) 
	excludesfile = /home/inkarkat/.gitignore
[diff]
	renames = true
[merge]
	; Include the merge base = last common ancestor in the middle of a
	; change, after a |||||| marker. 
	conflictstyle = diff3	; Requires git 1.6. 
	; Note: Cannot use the full path here, as git only recognizes certain
	; executable names. 
	tool = gvimdiff
[user]
	name = Ingo Karkat
	email = swdev@ingo-karkat.de
[github]
	user = inkarkat
